body {
    background-color: #ccc;
    margin:0;
    padding:0;
    color: white;
}

header {
    background-color:rgb(10, 69, 69) ;
    color: white;
    margin:0 auto;
    padding:35px 0px; 
}
/* for html tags there is no punctuation. when creating styling for a class use '.' at the beginning, 
and when creating styling for an id use '#' at the beginning */
#logo {
    border: 2px white solid;
    border-radius: 100%;
    padding: 1rem;
    margin-left: 1rem;
}

header nav {
    display: inline;
    float: right;
    margin-right: 1rem;
}

header nav a {
    /* margin-right: 1rem; */
    padding: 1rem 0.5rem;
}

/* The a stands for anchor and is the html tag for a link */
header a {
    color: white;
    text-decoration: none;
    /* margin:0 auto;
    padding:30px 0px; */

}

header a:hover {
    background-color: rgb(10, 30, 30);
    transition-duration: 2s;
}

/* The below is to handle the navigation dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {display: block;}

#logo:hover {
    background-color: rgb(10, 30, 30);
}

.dropdown-content a {
    background-color: white;
    color: black;
    display: block;
}

.row {
    background-color: white;
    color: black;
    width: 80%;
    /* remember at the end to try and fix the annoying white strip  */
    margin:0 auto;
    padding:0px 30px;
    /* padding-bottom: 10px; */
    display:block
}
.row-bottom {
    padding-bottom: 10px;
    padding-top: 10px;
}

.cover-image {
    display: block;
}

.full_row {
    background-color: rgb(10, 69, 69);
    width: 100%;
}

.main_text {
    width: 80%;
    margin:0 auto;
    padding:35px 40px;
    font-size: 1.125rem;
}

.imageblock {
    margin: 10px;
    width: calc(25% - 20px);
}

.blockimage img {
    width: 100%;
    display:block;
}
.images {
    display: flex;
    flex-wrap: wrap;
}

.blocktext {
    background-color: rgb(10, 69, 69);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    display:block;
}

footer {
        background-color: rgb(10, 69, 69);
        color: white;
        text-align: center;
        padding: 10px 0px;
    }
